/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100vb;
  background-color: var(--bg-color);
  color: var(--themes-main-color);
  font-family: var(--main-font);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: var(--bg-image);
  font-weight: var(--main-font-weight);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font-veriable);
  }
} 

.header {
  border: 2px solid var(--themes-main-color);
  background: var(--bg-color);
  width: 100vi;
  height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  margin: clamp(6.25rem, 6.25rem + 0vw, 6.25rem) auto;
  font-family: var(--accent-font);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  
}

.logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.link-title {
  font-size: clamp(3.0625rem, 3.0625rem + 0vw, 3.0625rem);
  text-decoration: none;
}

.secondary-title {
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
}

.theme-menu {
  padding-block: 22px;
}

.theme-menu__item:not(:last-of-type) {
  margin-block-end: 9px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  text-transform: inherit;
  position: relative;
  padding-inline-start: 26px;
}

.theme-menu__button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  height: 2px;
  background-color: var(--accent-color);
  width: 0;
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "\25BA";
  position: absolute;
  left: 4px;
  top: -2px;
  animation-name: arrow;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes arrow {
  0% {
    translate: 0;
  }

  50% {
    translate: 4px;
  }

  100% {
    translate: 0;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  margin: 0 auto;
}

.card__title {
  border: 2px solid var(--themes-main-color);
  background: var(--bg-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  padding: 5px 10px;
  font-weight: var(--title-font-weight);
}

.img-conteiner {
  position: relative;
}

.img {
  border-inline: 2px solid var(--themes-main-color);
  display: block;
  width: 100%;
}

.code {
  filter: sepia(0.6);
}

.floppy {
  filter: brightness(30%);
}

.team {
  filter: blur(5px);
}

.crash {
  filter: contrast(250%);
}

.cat {
  filter: invert(100%);
}

.mario {
  filter: brightness(30%) saturate(390%);
}

.girl {
  filter: saturate(390%);
}

.img-label {
  position: absolute;
  top: 23px;
  right: 11px;
  color: var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow:
  -1px 0 var(--bg-color), 
 0 1px var(--bg-color), 
 1px 0 var(--bg-color), 
 0 -1px var(--bg-color);
}

@supports((text-stroke: 1px var(--bg-color)) or (-webkit-text-stroke: 1px var(--bg-color))) {
  .img-label {
      -webkit-text-stroke: 1px var(--bg-color);
      text-stroke: 1px var(--bg-color);
      text-shadow: none;
  }
}

.card__content {
  border: 2px solid var(--themes-main-color);
  background: var(--bg-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 116.667%;
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
}

.card__text {
  padding-inline-end: 4px;
}

.card__button {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.card__icon-button {
  background: var(--bg-color);
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--themes-main-color);
  transition: border 0.3s ease;
}

.like-icon:hover {
  cursor: pointer;
}

.like-icon .core {
  transition: fill 0.3s 0.03s linear;
  fill: transparent;
}

.like-icon:hover .core {
  transition: fill 0.3s linear;
  fill: var(--themes-main-color);
}

.like-icon:active .core {
  fill: var(--core-sparks);
}

.like-icon .main-body {
  transition: fill 0.3s linear;
  fill: transparent;
}

.like-icon:hover .main-body {
  transition: fill 0.3s 0.05s linear;
  fill: var(--themes-main-color);
}

.like-icon:active .main-body {
  fill: var(--core-sparks);
}

.like-icon.is-liked .core {
  fill: var(--core-sparks);
}

.like-icon.is-liked .main-body {
  fill: var(--core-sparks);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .contour {
  fill: var(--core-sparks);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation-name: heart-big;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  transform-origin: center;
}

@keyframes heart-big {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.5;
  }

  100% {
    scale: 1;
  }
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation-name: sparks;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes sparks {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.card__like-button {
  min-width: 130px;
  border: 2px solid var(--themes-main-color);
  background: linear-gradient(90deg, var(--bg-color) 50%, var(--themes-main-color) 50%);
  padding-block: 0;
  transition: background 0.5s ease-in-out;
  background-size: 260px 1px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button:hover {
  cursor: pointer;
  background-position: 130px 0px;
}

.button__text {
  display: block;
  text-transform: capitalize;
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  line-height: 90%;
  background: linear-gradient(90deg, var(--themes-main-color) 50%, var(--bg-color) 50%);
  transition: background 0.5s ease-in-out;
  background-size:  260px 1px;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.card__like-button:hover .button__text {
  background-position: 130px 0px;
}

.footer__button {
  margin: 50px auto 102px;
  min-width: 300px;
  border: 2px solid var(--themes-main-color);
  background: linear-gradient(90deg, var(--bg-color) 50%, var(--themes-main-color) 50%);
  transition: background 0.5s ease-in-out;
  background-size: 700px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 15px 20px;
}

.footer__button:focus {
  outline: none;
}

.footer__button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
  transition: box-shadow 0.3s ease;
}

.footer__button:hover {
  cursor: pointer;
  background-position: 350px 0px;
}

.button-with-icon {
  background-size:  700px 1px;
}

.footer__button:hover .button-with-icon {
  background-position: 300px 0px;
}

.footer__icon {
  z-index: 1;
  position: relative;
  mix-blend-mode: difference;
  color: var(--button-with-icon-color);
}

.footer .button__text {
  text-transform: none;
}

.dialog[open] {
  background: var(--bg-color);
  border: 2px solid var(--themes-main-color);
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  text-transform: uppercase;
  width: clamp(21.313rem, 21.048rem + 1.127vw, 22.063rem);
  padding-inline: 40px;
  padding-block: 30px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__conteiner {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__icon {
  flex-shrink: 0;
  color: var(--themes-main-color);
}

.dialog .footer__button {
  width: 100%;
  margin-block: 30px 0;
  min-width: 257px;
  padding-block: 12px;
}

.dialog__text {
  color: var(--themes-main-color);
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  line-height: 150%;
}

.dialog .button__text {
  text-transform: uppercase;
}

@media (width >= 700px) {
  .header {
    width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
    height: clamp(20.438rem, 19.535rem + 3.85vw, 23rem);
  }

  .card {
    width: clamp(23.438rem, 16.285rem + 30.516vw, 43.75rem);
  }

  .link-title {
    font-size: clamp(4.0625rem, 4.0625rem + 0vw, 4.0625rem);
  }
  
  .secondary-title {
    font-size: clamp(1.4375rem, 1.4375rem + 0vw, 1.4375rem);
  }

  .img-label {
    top: 25px;
    right: 25px;
  }

  .footer__button {
    flex-direction: row;
  }

  .footer__icon {
    width: 21px;
    height: 21px;
  }

  .dialog[open] {
    padding-inline: 30px;
  }
}