/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg-color: #fff;
    --accent-color: rgba(0, 0, 0, 0.6);
    --themes-main-color: #000;
    --main-font: 'Inter', 'Arial', sans-serif;
    --main-font-veriable: 'Inter-Variable', 'Arial', sans-serif;
    --accent-font: 'PressStart2P', 'Copperplate', fantasy;
    --bg-image: repeating-linear-gradient(to left, transparent 0 2px, #d3d3d3 2px 4px),
      repeating-linear-gradient(to bottom, transparent 0 2px, #d3d3d3 2px 4px),
      linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    --core-sparks: #FF0000;
    --button-with-icon-color: #fff;
    --title-font-weight: 700;
    --main-font-weight: 400;
  }